<div class="footer">
  <div class="container bottom-line h-100 <%= @dark_mode ? 'dark-border' : 'light-border' %>">
    <div class="d-flex justify-content-end align-items-center h-100">
      <div class="px-5 py-4">
        <h2 class="social-links"><%= mail_to 'ifeodugbesan@gmail.com', 'Email' %></h2>
        <h2 class="social-links"><%= link_to 'Github', 'https://github.com/ifeodugbesan', target: '_blank', rel: 'noopener' %></h2>
        <h2 class="social-links"><%= link_to 'LinkedIn', 'https://www.linkedin.com/in/ifeodugbesan', target: '_blank', rel: 'noopener' %></h2>
        <h2 class="social-links"><%= link_to 'Dribbble', 'https://dribbble.com/ifz10', target: '_blank', rel: 'noopener' %></h2>
      </div>
    </div>
  </div>
</div>
