<div class="carousel-item active">
  <div class="row m-0 testimonials-row">
    <div class="mid-line client-testimonials-line"></div>
    <div class="testimonial-card <%= @dark_mode ? 'dark-bg' : 'light-bg' %>">
      <div class="testimonial-image" style="background-image: url(<%= image_path 'fanning.png' %>)"></div>
      <div class="testimonial-content p-3">
        <div class="">
          <h3 class="mb-1">Ben Fanning</h3>
          <h5 class="pb-0 pb-md-3 testimonial-role">Founder at Hoxton Digital</h5>
        </div>
        <div class="">
          <div class="testimonial-message">
            <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote left-quote', alt: 'opening quote', alt: 'opening quote' %>
            <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote right-quote', alt: 'closing quote', alt: 'closing quote' %>
            <p class="mb-2">Ife was the first person I hired at Hoxton Digital and he is the first person I would hire if I started a new business tomorrow. He is hard working, utterly dependable and lifts the spirits of everyone he works with!</p>
            <p class="mb-2">Ife is the first person I turn to for a second opinion on frontend matters, his ability to cast a critical eye over a design and suggest meaningful ways to improve the UI & UX of the application has been a priceless tool for me over the years. He constantly strives to do his job in the best way possible as well as to help others to do theirs.</p>
            <p class="mb-2">I hope I get the opportunity to work with him in the future and I would absolutely recommend him to anyone in need of a frontend developer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="row m-0 testimonials-row">
    <div class="mid-line client-testimonials-line"></div>
    <div class="testimonial-card <%= @dark_mode ? 'dark-bg' : 'light-bg' %>">
      <div class="testimonial-image" style="background-image: url('https://avatars.githubusercontent.com/u/103648111?v=4')"></div>
      <div class="testimonial-content p-3">
        <h3 class="mb-1">Jette Handschumacher</h3>
        <h5 class="pb-0 pb-md-3 testimonial-role">CEO at Idego</h5>
        <div class="testimonial-message">
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote left-quote', alt: 'opening quote' %>
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote right-quote', alt: 'closing quote' %>
          <p class="mb-2">Working with Ife has been an absolute game-changer across several deeply impactful projects. From building a robust data tracking tool for Water Access Rwanda—a pioneering social enterprise improving access to clean water—to supporting The Clementine Project, a non-profit uplifting young women and single mothers in Rwanda, Ife has consistently brought excellence, innovation, and integrity to the table.</p>
          <p class="mb-2">Ife’s contributions have directly fuelled the success and growth of our projects, and I can confidently say that his presence elevates any initiative to new heights. He is not just a developer; he is a strategic thinker, a problem-solver, and a natural team player.</p>
          <p class="mb-2">I wholeheartedly recommend him for any project seeking real impact, technical excellence, and a spirit of teamwork that drives results.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="carousel-item">
  <div class="row m-0 testimonials-row">
    <div class="mid-line"></div>
    <div class="testimonial-card <%##= @dark_mode ? 'dark-bg' : 'light-bg' %>">
      <div class="testimonial-image" style="background-image: url('https://media-exp1.licdn.com/dms/image/C5603AQE_42-swxWlCw/profile-displayphoto-shrink_400_400/0/1540331575134?e=1632960000&v=beta&t=306erp3JMSZP1mbQSMhZULReelt9eET2xc5Ztmkkaf8')"></div>
      <div class="testimonial-content p-3">
        <h2>Ben Fanning</h2>
        <h4 class="pb-0 pb-md-3">Founder at Hoxton Digital</h4>
        <div class="testimonial-message">
          <%#= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote left-quote', alt: 'opening quote' %>
          <%#= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote right-quote', alt: 'closing quote' %>
          <p>Ife was the first person I hired at Hoxton Digital and he is the first person I would hire if I started a new business tomorrow. He is hard working, utterly dependable and lifts the spirits of everyone he works with! Ife is the first person I turn to for a second opinion on frontend matters, his ability to cast a critical eye over a design and suggest meaningful ways to improve the UI & UX of the application has been a priceless tool for me over the years. He constantly strives to do his job in the best way possible as well as to help others to do theirs. I hope I get the opportunity to work with him in the future and I would absolutely recommend him to anyone in need of a frontend developer.</p>
        </div>
      </div>
    </div>
  </div>
</div>-->

