<!-- FOENIX CODING -->


<div class="modal fade p-3 p-3" id="foenixCoding" tabindex="-1" aria-labelledby="foenixCodingLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="foenixCodingControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'foenix-coding-1.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'foenix-coding-2.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'foenix-coding-3.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'foenix-coding-4.png', class: 'w-100' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#foenixCodingControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#foenixCodingControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="pt-3 px-3 project-modal-info">
          <h4 class="modal-title mb-1" id="foenixCodingLabel">Foenix Coding</h4>
          <p class="">Industrial Marking and Coding printers to print in high resolutions on every material.</p>
          <%= link_to 'View Website', 'https://www.foenixcoding.com', class: 'primary-button', target: '_blank', rel: 'noopener'  %>
        </div>
      </div>
      <div class="modal-footer pt-0">
        <p class="modal-close" data-dismiss="modal">Close</p>
      </div>
    </div>
  </div>
</div>

<!-- THE NET -->

<div class="modal fade p-3" id="theNet" tabindex="-1" aria-labelledby="theNetLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="theNetControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'loop-beauty-1.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'loop-beauty-2.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'loop-beauty-3.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'loop-beauty-4.png', class: 'w-100' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#theNetControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#theNetControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="pt-3 px-3 project-modal-info">
          <h4 class="modal-title mb-1" id="theNetLabel">LoopBeauty</h4>
          <p class="">Your destination for the best in beauty for women of colour. We partner with your favourite experts to curate the best in beauty products. Perfect your look in one place.</p>
          <%= link_to 'View Website', 'https://www.myloopbeauty.com', class: 'primary-button', target: '_blank', rel: 'noopener'  %>
        </div>
      </div>
      <div class="modal-footer pt-0">
        <p class="modal-close" data-dismiss="modal">Close</p>
      </div>
    </div>
  </div>
</div>

<!-- WATER ACCESS RWANDA -->

<div class="modal fade p-3" id="waterAccessRwanda" tabindex="-1" aria-labelledby="waterAccessRwandaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="waterAccessRwandaControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'war-1.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'war-2.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'war-3.png', class: 'w-100' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#waterAccessRwandaControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#waterAccessRwandaControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="pt-3 px-3 project-modal-info">
          <h4 class="modal-title mb-1" id="waterAccessRwandaLabel">Water Access Rwanda - Maintenance Tracker</h4>
          <p class="mb-0">We deploy innovative, capital-efficient and next-level services and systems to provide safe water to mainly rural and small town dwellers in Africa.</p>
        </div>
      </div>
      <div class="modal-footer pt-0">
        <p class="modal-close" data-dismiss="modal">Close</p>
      </div>
    </div>
  </div>
</div>

<!-- IDEGO -->

<div class="modal fade p-3" id="idego" tabindex="-1" aria-labelledby="idegoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="idegoControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'idego-1.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'idego-2.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'idego-3.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'idego-4.png', class: 'w-100' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#idegoControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#idegoControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="pt-3 px-3 project-modal-info">
          <h4 class="modal-title mb-1" id="idegoLabel">Idego</h4>
          <p class="">idego is a social impact accelerator that helps startups and aspiring businesses in Eastern Africa to benefit from digital transformation and our global network, and by that to develop their businesses in a sustainable way.</p>
          <%= link_to 'View Website', 'http://idego.herokuapp.com/', class: 'primary-button', target: '_blank', rel: 'noopener'  %>
        </div>
      </div>
      <div class="modal-footer pt-0">
        <p class="modal-close" data-dismiss="modal">Close</p>
      </div>
    </div>
  </div>
</div>

<!-- THE CLEMENTINE PROJECT -->

<div class="modal fade p-3" id="theClementineProject" tabindex="-1" aria-labelledby="theClementineProjectLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="theClementineProjectControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'tcp-1.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'tcp-2.png', class: 'w-100' %>
            </div>
             <div class="carousel-item">
              <%= image_tag 'tcp-3.png', class: 'w-100' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#theClementineProjectControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#theClementineProjectControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="pt-3 px-3 project-modal-info">
          <h4 class="modal-title mb-1" id="theClementineProjectLabel">The Clementine Project</h4>
          <p class="">Our project supports seamstresses in Rwanda to earn an independent and self-sufficient living.</p>
          <%= link_to 'View Website', 'https://www.theclementineproject.de', class: 'primary-button', target: '_blank', rel: 'noopener'  %>
        </div>
      </div>
      <div class="modal-footer pt-0">
        <p class="modal-close" data-dismiss="modal">Close</p>
      </div>
    </div>
  </div>
</div>

<!-- THE CLEMENTINE PROJECT -->

<div class="modal fade p-3" id="codebreakers" tabindex="-1" aria-labelledby="codebreakersLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="codebreakersControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'codebreakers-1.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'codebreakers-2.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'codebreakers-3.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'codebreakers-4.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'codebreakers-5.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'codebreakers-6.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'codebreakers-7.png', class: 'w-100' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#codebreakersControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#codebreakersControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="pt-3 px-3 project-modal-info">
          <h4 class="modal-title mb-1" id="codebreakersLabel">Codebreakers</h4>
          <p class="mb-0">Complete coding challenges to level up your coding knowledge & win prizes! Suitable for beginners.</p>
        </div>
      </div>
      <div class="modal-footer pt-0">
        <p class="modal-close" data-dismiss="modal">Close</p>
      </div>
    </div>
  </div>
</div> 
