<div class="modal fade p-3 p-3" id="foenixCoding" tabindex="-1" aria-labelledby="foenixCodingLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="foenixCodingControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'foenix-coding-1.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'foenix-coding-2.png', class: 'w-100' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#foenixCodingControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#foenixCodingControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="pt-3 px-3">
          <h4 class="modal-title mb-1" id="foenixCodingLabel">Foenix Coding</h4>
          <p class="">Industrial Marking and Coding printers to print in high resolutions on every material.</p>
          <%= link_to 'View Website', 'https://www.foenixcoding.com', class: 'primary-button', target: '_blank', rel: 'noopener'  %>
        </div>
      </div>
      <div class="modal-footer pt-0">
        <p class="modal-close" data-dismiss="modal">Close</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade p-3" id="theNet" tabindex="-1" aria-labelledby="theNetLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="theNetControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'loop-beauty-1.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'loop-beauty-2.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'loop-beauty-3.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'loop-beauty-4.png', class: 'w-100' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#theNetControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#theNetControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="pt-3 px-3">
          <h4 class="modal-title mb-1" id="theNetLabel">LoopBeauty</h4>
          <p class="">Your destination for the best in beauty for women of colour. We partner with your favourite experts to curate the best in beauty products. Perfect your look in one place.</p>
          <%= link_to 'View Website', 'https://www.myloopbeauty.com', class: 'primary-button', target: '_blank', rel: 'noopener'  %>
        </div>
      </div>
      <div class="modal-footer pt-0">
        <p class="modal-close" data-dismiss="modal">Close</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade p-3" id="lawFairy" tabindex="-1" aria-labelledby="lawFairyLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div id="lawFairyControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%#= image_tag 'foenix-coding-1.png', class: 'w-100' %>
            </div>
            <div class="carousel-item">
              <%#= image_tag 'foenix-coding-2.png', class: 'w-100' %>
            </div>
          </div>
          <a class="carousel-control-prev" href="#lawFairyControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%#= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#lawFairyControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%#= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="pt-3 px-3">
          <h4 class="modal-title mb-1" id="lawFairyLabel">Foenix Coding</h4>
          <p class="">Industrial Marking and Coding printers to print in high resolutions on every material.</p>
          <%#= link_to 'View Website', 'https://www.foenixcoding.com', class: 'primary-button', target: '_blank', rel: 'noopener'  %>
        </div>
      </div>
      <div class="modal-footer pt-0">
        <p class="modal-close" data-dismiss="modal">Close</p>
      </div>
    </div>
  </div>
</div> -->
