<div class="carousel-item active">
  <div class="row m-0 testimonials-row">
    <div class="mid-line"></div>
    <div class="testimonial-card <%= @dark_mode ? 'dark-bg' : 'light-bg' %>">
      <div class="testimonial-image"></div>
      <div class="testimonial-content p-3">
        <h2>Le Wagon London - Batch #751</h2>
        <h4 class="pb-0 pb-md-3">Anonymous review</h4>
        <div class="testimonial-message">
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote left-quote', alt: 'opening quote' %>
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote right-quote', alt: 'closing quote' %>
          <p>The master of front-end! The number of tickets with him increased each day towards the end. He is a super lovely, kind, patient, and engaging person, and was super helpful when it came to solving front end issues!! You could clearly see that he knows very well what he was talking about and he was also very well in explaining a problem and the matching solution! I really liked working with him because he also sticked to the problem until it was solved.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="row m-0 testimonials-row">
    <div class="mid-line"></div>
    <div class="testimonial-card <%= @dark_mode ? 'dark-bg' : 'light-bg' %>">
      <div class="testimonial-image"></div>
      <div class="testimonial-content p-3">
        <h2>Le Wagon London - Batch #599</h2>
        <h4 class="pb-0 pb-md-3">Anonymous review</h4>
        <div class="testimonial-message">
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote left-quote', alt: 'opening quote' %>
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote right-quote', alt: 'closing quote' %>
          <p>Loved Ife as a TA, he clearly has a wealth of experience, and it really showed in how quick he'd resolve tickets. Ife also would always try to hint at answers before giving them away, this really helps. Super chill and friendly, sympathetic with students and patient.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="row m-0 testimonials-row">
    <div class="mid-line"></div>
    <div class="testimonial-card <%= @dark_mode ? 'dark-bg' : 'light-bg' %>">
      <div class="testimonial-image"></div>
      <div class="testimonial-content p-3">
        <h2>Le Wagon London - Batch #522</h2>
        <h4 class="pb-0 pb-md-3">Anonymous review</h4>
        <div class="testimonial-message">
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote left-quote', alt: 'opening quote' %>
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote right-quote', alt: 'closing quote' %>
          <p>Ife was an outstanding teacher and I'm really glad he was assigned to our group for our final projects. He helped us implement some complex features and was great from start to finish. We asked a lot of difficult questions and he helped us work through each one in a clear and structured way. I really enjoyed working with Ife and can't recommend him enough!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="row m-0 testimonials-row">
    <div class="mid-line"></div>
    <div class="testimonial-card <%= @dark_mode ? 'dark-bg' : 'light-bg' %>">
      <div class="testimonial-image"></div>
      <div class="testimonial-content p-3">
        <h2>Le Wagon London - Batch #360</h2>
        <h4 class="pb-0 pb-md-3">Anonymous review</h4>
        <div class="testimonial-message">
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote left-quote', alt: 'opening quote' %>
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote right-quote', alt: 'closing quote' %>
          <p>Ife is not only an outstanding teacher but he acted as a sort of mentor during the last few weeks of my coding experience. He was happy to help us navigate tricky team conversations and was very invested in our app. He got excited about what we wanted to achieve and very much supported us. He gave critical yet constructive feedback and but is always a very calming persona to have around. Ife helps students to get to an endpoint by coaching them rather than telling them the answer so that you feel like you have achieved something. I think my Le Wagon experience would have been very different without Ife and I am so grateful for the support and encouragement he gave our team.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="row m-0 testimonials-row">
    <div class="mid-line"></div>
    <div class="testimonial-card <%= @dark_mode ? 'dark-bg' : 'light-bg' %>">
      <div class="testimonial-image"></div>
      <div class="testimonial-content p-3">
        <h2>Le Wagon London - Batch #319</h2>
        <h4 class="pb-0 pb-md-3">Anonymous review</h4>
        <div class="testimonial-message">
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote left-quote', alt: 'opening quote' %>
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote right-quote', alt: 'closing quote' %>
          <p>Ife is incredibly personable and is always such a pleasure to work with. He'll help to guide a student to the right answer, without giving it to them straight away, and has been incredibly helpful in explaining some key points in various coding topics.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="row m-0 testimonials-row">
    <div class="mid-line"></div>
    <div class="testimonial-card <%= @dark_mode ? 'dark-bg' : 'light-bg' %>">
      <div class="testimonial-image"></div>
      <div class="testimonial-content p-3">
        <h2>Le Wagon London - Batch #287</h2>
        <h4 class="pb-0 pb-md-3">Anonymous review</h4>
        <div class="testimonial-message">
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote left-quote', alt: 'opening quote' %>
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote right-quote', alt: 'closing quote' %>
          <p>Ife is amazing. He is great at explaining stuff, he goes over everything with you, step by step, and has patience to explain even the most basic things to you. Absolutely loved having Ife as my teacher.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="row m-0 testimonials-row">
    <div class="mid-line"></div>
    <div class="testimonial-card <%= @dark_mode ? 'dark-bg' : 'light-bg' %>">
      <div class="testimonial-image"></div>
      <div class="testimonial-content p-3">
        <h2>Le Wagon London - Batch #222</h2>
        <h4 class="pb-0 pb-md-3">Anonymous review</h4>
        <div class="testimonial-message">
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote left-quote', alt: 'opening quote' %>
          <%= image_tag "#{@dark_mode ? 'dark-quote.png' : 'quote.png'}", class: 'quote right-quote', alt: 'closing quote' %>
          <p>IFE!!!! Incredible TA!!! One of my favs. All round great guy! Help me sooooo much with certain tickets that literally took 1 hour. He was extremely patience! And communicated so well. Not bad word to say!!!</p>
        </div>
      </div>
    </div>
  </div>
</div>




