<div class="container h-100">
  <div class="banner linear-bg">
    <p class="text-center">Ife Odugbesan</p>
    <div class="main-title">
      <h1>Full<br>Stack<br>Developer</h1>
    </div>
  </div>
  <div class="bio">
    <h2>A bit about me</h2>
    <p class="mb-2">Hello!</p>
    <p class="mb-0">I’m Ife, an experienced Ruby on Rails full stack web developer with a passion for crafting robust, user-friendly applications. Proficient in translating designs into fully functional web apps. I'm also a teaching assistant at Le Wagon (coding bootcamp) which allows me to guide students on their RoR journey.</p>
    <small>(P.S. Click the logo at the top to switch to dark mode.)</small>
  </div>
  <div class="le-wagon">
    <div class="horiz-line"></div>
    <div class="vert-line vert-line-lw"></div>
    <%= link_to 'https://www.lewagon.com', target: '_blank' do %>
      <%= image_tag 'le-wagon-logo.png', class: "lw-logo #{ @dark_mode ? 'dark-border' : 'light-border' }", alt: 'le wagon logo' %>
    <% end %>
    <h2>Le Wagon</h2>
    <p>Since completing the 9 week intensive web development bootcamp with Le Wagon I've been able to build on my skills and knowledge through various freelance projects.</p>
    <p>Also, as a teaching assistant for Le Wagon, I've taught on 32+ web development bootcamps. Being someone that has gone through the same experience, I am able to resignate with students and guide them in the best way I know how.</p>
  </div>
  <div class="projects py-4 linear-bg">
    <h2 class="pl-3 pl-md-4">Projects</h2>
    <div class="row m-0 px-3 pb-0 projects-row projects-row-one">
      <div class="mid-line d-none d-md-block first-mid-line" style="top: calc(50% + 48px);"></div>
      <div class="col-6 col-md-4 pl-0 pl-md-3 pr-2 pr-md-3 mb-3 mb-md-0">
        <div class="pt-3 pt-md-5 position-relative">
          <div class="project-card" data-toggle="modal" data-target="#foenixCoding" data-placement="top" title="Foenix Coding">
            <%= image_tag 'foenix-coding.png', class: 'project-image', alt: 'foenix logo' %>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 pr-0 pr-md-3 pl-2 pl-md-3 mb-3 mb-md-0">
        <div class="pt-3 pt-md-5 position-relative">
          <div class="project-card" data-toggle="modal" data-target="#theNet" data-placement="top" title="LoopBeauty">
            <%= image_tag 'loop-beauty.png', class: 'project-image', alt: 'foenix logo' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0 px-3 py-0 projects-row middle">
      <div class="col-6 col-md-4 pl-0 pl-md-3 pr-2 pr-md-3">
        <div class="py-3 py-md-5 position-relative">
          <div class="project-card">
            <div class="vert-line vert-line-one d-none d-md-block"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 pr-0 pr-md-3 pl-2 pl-md-3">
        <div class="py-3 py-md-5 position-relative">
          <div class="project-card">
            <div class="vert-line vert-line-two d-none d-md-block"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0 px-3 pb-0 pt-0 projects-row">
      <div class="mid-line second-mid-line d-none d-md-block"></div>
      <!--<div class="mid-line second-mid-line d-none d-md-block" style="top: calc(50% + 48px);"></div>-->
      <div class="col-6 col-md-4 pl-0 pl-md-3 pr-2 pr-md-3 mb-3 mb-md-0">
        <div class="pt-0 position-relative">
          <div class="project-card" data-toggle="modal" data-target="#waterAccessRwanda" data-placement="top" title="Water Access Rwanda Maintenance Tracker">
            <%= image_tag 'war-card.png', class: 'project-image', alt: 'foenix logo' %>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 pr-0 pr-md-3 pl-2 pl-md-3 mb-3 mb-md-0">
        <div class="pt-0 position-relative">
          <div class="project-card" data-toggle="modal" data-target="#idego" data-placement="top" title="Idego">
            <%= image_tag 'idego.png', class: 'project-image', alt: 'foenix logo' %>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0 px-3 py-0 projects-row middle">
      <div class="col-6 col-md-4 pl-0 pl-md-3 pr-2 pr-md-3">
        <div class="py-3 py-md-5 position-relative">
          <div class="project-card">
            <div class="vert-line vert-line-three d-none d-md-block"></div>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 pr-0 pr-md-3 pl-2 pl-md-3">
        <div class="py-3 py-md-5 position-relative">
          <div class="project-card">
            <div class="vert-line vert-line-four d-none d-md-block"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row m-0 px-3 pt-0 projects-row">
      <div class="mid-line third-mid-line d-none d-md-block" style="top: calc(50% - 48px);"></div>
      <div class="col-6 col-md-4 pl-0 pl-md-3 pr-2 pr-md-3">
        <div class="pb-3 pb-md-5 position-relative">
          <div class="project-card" data-toggle="modal" data-target="#theClementineProject" data-placement="top" title="The Clementine Project">
            <%= image_tag 'tcp-card.png', class: 'project-image', alt: 'the clementine project logo' %>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 pr-0 pr-md-3 pl-2 pl-md-3">
        <div class="pb-3 pb-md-5 h-100 position-relative">
          <div class="project-card h-100">
            <%= image_tag @dark_mode ? 'project-placeholder-dark.png' : 'project-placeholder-light.png', class: 'project-image project-placeholder', alt: 'the clementine project logo' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'project_modals' %>
  </div>
  <div class="testimonials">
    <h2 class="pl-4 pb-4">Testimonials</h2>
    <ul class="nav nav-pills pb-2 pb-md-0 pt-4 d-flex justify-content-center align-items-center" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-clients-tab" data-toggle="pill" href="#pills-clients" role="tab" aria-controls="pills-clients" aria-selected="true">Clients</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-students-tab" data-toggle="pill" href="#pills-students" role="tab" aria-controls="pills-students" aria-selected="false">Students</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-clients" role="tabpanel" aria-labelledby="pills-clients-tab">
        <div id="clientsCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#clientsCarousel" data-slide-to="0" class="active"></li>
            <!-- <li data-target="#clientsCarousel" data-slide-to="1"></li> -->
            <!-- <li data-target="#clientsCarousel" data-slide-to="2"></li> -->
          </ol>
          <div class="carousel-inner">
            <%= render 'client_testimonials' %>
          </div>
         <!--  <a class="carousel-control-prev main-controls" href="#clientsCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%#= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next main-controls" href="#clientsCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%#= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>
      <div class="tab-pane fade" id="pills-students" role="tabpanel" aria-labelledby="pills-students-tab">
        <div id="studentsCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#studentsCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#studentsCarousel" data-slide-to="1"></li>
            <li data-target="#studentsCarousel" data-slide-to="2"></li>
            <li data-target="#studentsCarousel" data-slide-to="3"></li>
            <li data-target="#studentsCarousel" data-slide-to="4"></li>
            <li data-target="#studentsCarousel" data-slide-to="5"></li>
            <li data-target="#studentsCarousel" data-slide-to="6"></li>
          </ol>
          <div class="carousel-inner">
            <%= render 'student_testimonials' %>
          </div>
          <a class="carousel-control-prev main-controls" href="#studentsCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next main-controls" href="#studentsCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
