<div class="container h-100">
  <div class="banner linear-bg">
    <p class="text-center">Ife Odugbesan</p>
    <div class="">
      <h1>Full<br>Stack<br>Developer</h1>
    </div>
  </div>
  <div class="bio">
    <h1>A line about me</h1>
    <p>Hi! The name's Ife and I'm a full stack web developer. I am currently a self-employed freelancer that is on the hunt for opportunities to further develop my skills and knowledge.</p>

  </div>
  <div class="le-wagon">
    <div class="horiz-line"></div>
    <div class="vert-line"></div>
    <%= link_to 'https://www.lewagon.com', target: '_blank' do %>
      <%= image_tag 'le-wagon-logo.png', class: "lw-logo #{ @dark_mode ? 'dark-border' : 'light-border' }", alt: 'le wagon logo' %>
    <% end %>
    <h1>Le Wagon</h1>
    <p>Since completing the 9 week intensive web development bootcamp with Le Wagon I've been able build on my skills and knowledge through various freelance projects.</p>
    <p>Also, as a teaching assistant for Le Wagon, I've taught on 18+ web development bootcamps. Being someone that has gone through the same experience, I am able to resignate with students and guide them in the best way I know how.</p>
  </div>
  <div class="projects py-4 linear-bg">
    <h1 class="pl-3 pl-md-4">Projects</h1>
    <div class="row m-0 px-3 projects-row">
      <div class="mid-line d-none d-md-block"></div>
      <div class="col-6 col-md-4 pl-0 pl-md-3 pr-2 pr-md-3">
        <div class="py-3 py-md-5 position-relative">
          <div class="project-card" data-toggle="modal" data-target="#foenixCoding" data-placement="top" title="Foenix Coding">
            <%= image_tag 'foenix-coding.png', class: 'project-image', alt: 'foenix logo' %>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 pr-0 pr-md-3 pl-2 pl-md-3">
        <div class="py-3 py-md-5 position-relative">
          <div class="project-card" data-toggle="modal" data-target="#theNet" data-placement="top" title="LoopBeauty">
            <%= image_tag 'loop-beauty.png', class: 'project-image', alt: 'foenix logo' %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'project_modals' %>
  </div>
  <div class="testimonials">
    <h1 class="pl-4 pb-4">Testimonials</h1>
    <ul class="nav nav-pills pb-2 pb-md-0 pt-4 d-flex justify-content-center align-items-center" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-clients-tab" data-toggle="pill" href="#pills-clients" role="tab" aria-controls="pills-clients" aria-selected="true">Clients</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-students-tab" data-toggle="pill" href="#pills-students" role="tab" aria-controls="pills-students" aria-selected="false">Students</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-clients" role="tabpanel" aria-labelledby="pills-clients-tab">
        <div id="clientsCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#clientsCarousel" data-slide-to="0" class="active"></li>
            <!-- <li data-target="#clientsCarousel" data-slide-to="1"></li> -->
            <!-- <li data-target="#clientsCarousel" data-slide-to="2"></li> -->
          </ol>
          <div class="carousel-inner">
            <%= render 'client_testimonials' %>
          </div>
         <!--  <a class="carousel-control-prev main-controls" href="#clientsCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%#= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next main-controls" href="#clientsCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%#= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>
      <div class="tab-pane fade" id="pills-students" role="tabpanel" aria-labelledby="pills-students-tab">
        <div id="studentsCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#studentsCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#studentsCarousel" data-slide-to="1"></li>
            <li data-target="#studentsCarousel" data-slide-to="2"></li>
            <li data-target="#studentsCarousel" data-slide-to="3"></li>
            <li data-target="#studentsCarousel" data-slide-to="4"></li>
            <li data-target="#studentsCarousel" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
            <%= render 'student_testimonials' %>
          </div>
          <a class="carousel-control-prev main-controls" href="#studentsCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next main-controls" href="#studentsCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true">
              <%= image_tag "#{@dark_mode ? 'dark-arrow.png' : 'arrow.png'}" %>
            </span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
