<div class="container h-100">
  <div class="banner">
    <p class="text-center">Ife Odugbesan</p>
    <div class="">
      <h1>Full<br>Stack<br>Developer</h1>
    </div>
  </div>
  <div class="bio">
    <h1>A bit about me</h1>
  </div>
  <div class="le-wagon">
    <div class="horiz-line"></div>
    <div class="vert-line"></div>
    <%= image_tag 'le-wagon-logo.png', class: 'lw-logo' %>
    <h1>Le Wagon</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sed voluptatem nulla, fuga inventore dolore debitis ex consequatur aliquam quas recusandae cumque quidem nemo, eos hic delectus dolorum eveniet labore?</p>
  </div>
  <div class="projects py-4">
    <h1 class="pl-4">Projects</h1>
    <div class="row m-0 projects-row">
      <div class="mid-line"></div>
      <div class="py-5 position-relative h-50">
        <div class="project-card">
          <%= image_tag 'foenix-card.png', class: 'project-image' %>
        </div>
      </div>
      <div class="py-5 position-relative h-50">
        <div class="project-card">
          <%= image_tag 'foenix-card.png', class: 'project-image' %>
        </div>
      </div>
      <div class="py-5 position-relative h-50">
        <div class="project-card">
          <%= image_tag 'foenix-card.png', class: 'project-image' %>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonials">
    <h1 class="pl-4">Testimonials</h1>
    <div class="row m-0 projects-row">
      <div class="mid-line"></div>
      <div class="testimonial-card">
        <div class="testimonial-image" style="background-image: url('https://media-exp1.licdn.com/dms/image/C5603AQE_42-swxWlCw/profile-displayphoto-shrink_400_400/0/1540331575134?e=1632960000&v=beta&t=306erp3JMSZP1mbQSMhZULReelt9eET2xc5Ztmkkaf8')"></div>
        <div class="testimonial-content p-3">
          <h2>Ben Fanning</h2>
          <h4 class="pb-0 pb-md-3">Founder at Hoxton Digital</h4>
          <div class="testimonial-message">
            <%= image_tag 'quote.png', class: 'quote left-quote' %>
            <%= image_tag 'quote.png', class: 'quote right-quote' %>
            <p>Ife was an outstanding teacher and I'm really glad he was assigned to our group for our final projects. He helped us implement some complex features and was great from start to finish. We asked a lot of difficult questions and he helped us work through each one in a clear and structured way. I really enjoyed working with Ife and can't recommend him enough!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
